<div class="row justify-content-evenly mt-5 pt-3 pb-5 foot ">
    <div class="col-md-4">
        <img src="../../assets/image/company-logo.png" style="width: 300px;" class="image2">
    </div>

    <div class="col-sm-2 mt-2 mb-2 text-center foot1">
        
        <h4 class="text-dark header1">Address</h4>
        <div class="icon"><i class="bi bi-geo-alt-fill "></i></div>
        <p class="text-dark p1">Cifs code <br>Silver Tread Centar, <br> mota
            varacha, <br>surat,Gujarat,India.</p>

    </div>

    <div class="col-sm-2 mt-2 mb-4 siders text-center">
        <h4 class="text-dark header1">Contact us</h4>
        <p class="text-dark mt-3 p1"><i class="bi bi-telephone-fill "></i>+91 88665 06665</p>
        
    </div>
    <div class="col-sm-2 mt-2 mb-4 siders text-center">
        <h4 class="text-dark header1 ">Hours</h4>
        <div class="icon"><i class="bi bi-clock-fill"></i></div>
        <p class="text-dark p1">Open Daily<br>10AM-12PM</p>
        
    </div>

</div>